.header ul {
  display: flex;
  list-style-type: none;
  padding: 0;

  a {
    text-decoration: none;
    padding: 0 15px 0 15px;
  }

  .logo {
    margin-right: auto;
  }

  .userLinks {
    margin-left: auto;
  }
}
